.cut-text {
    position: relative;
    
    font-size: 10vw;
    color: transparent;
    font-weight: 900;
    font-family: 'Catamaran', sans-serif;
    font-style: italic; }
    .cut-text:after {
      content: "pepeD";
      position: absolute;
      left: -10px;
      top: -2px;
      color: white;
      -webkit-clip-path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
      clip-path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%); }
    .cut-text:before {
      content: "pepeD";
      position: absolute;
      color: white;
      -webkit-clip-path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
      clip-path: polygon(0 0, 110% 0, 100% 65%, 0 25%); }
  